<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dobrodošli, {{ username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Username:</strong> {{ username }}</p>
      <p><strong>Role:</strong> {{ role }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="logout()">
    Odjavi se
  </ion-button>
</ion-content>
